.main{
  display: grid;
  position: relative;
  width: 330px;
  height: 434px;
  background: #C4C4C4;
  border-radius: 8px;
}

.top-title{
  position: relative;
  width: 330px;
  height: 31px;
  text-align: center;
  background: #999292;
  border-radius: 8px 8px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.top-display{
  position: relative;
  width: 311px;
  height: 80px;
  text-align: center;
  background: #AEADAD;
  border-radius: 8px;
  margin: 8px;
}

.top-display-current{
  position: relative;
  width: 300px;
  height: 25px;
  text-align: right;
  background: transparent;
  padding: 5px;
  border: 0px;
}

.top-display-prior{
  position: relative;
  width: 311px;
  height: 25px;
  text-align: center;
  background: transparent;
  border: 0px ;
}

.top-display-func{
  position: relative;
  width: 311px;
  height: 25px;
  text-align: center;
  background: transparent;
  border: 0px ;
}

.bt-grid-top{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2px;
}

.bt-grid{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  margin: 2px;
}

.bt-grid-bottom{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 2px;
}

.bt-center{
  width: 75px;
  height: 50px;
  background-color: #AEADAD;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
}

.bt-center:hover {
  background-color: #888080;
}

.bt-right{
  width: 50px;
  height: 50px;
  background-color: #AEADAD;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
}

.bt-right:hover {
  background-color: #888080;
}